@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

* {
  font-family: "Nunito", "Segoe UI", sans-serif;
  box-sizing: border-box;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

div.navbar{
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #1e1e26;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.nav-group{
  display: flex;
}

a.nav-link{
  color: white;
  padding: 0.5rem;
}

a.nav-link:hover {
  text-decoration: underline;
}